/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2{
    font-size: 1.25rem;
}

button{
    padding: 10px;
    width: 40%;
    margin-top: 25px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 8%;
    cursor: pointer;
  }

button:hover{
    background-color: grey;
    color:white;
    transition-duration: 0.5s;
}
.site-wrapper{
    margin: 10px auto 0 auto;
    z-index: 1;
	width: 880px;
	display: flex;
	flex-direction: column;
}
/* Tablet */
@media(max-width: 800px){
    .site-wrapper{
        margin: auto;
        z-index: 1;
        width: 100%;
    }
}
/* Mobile */
@media(max-width: 500px){
    .site-wrapper{
        width:100%;
    }
}
/* Headers */
.navbar{
	display: flex;
    justify-content: space-between;
    align-items: center;   
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
}
.navbar a:hover {
    color: rgb(176, 177, 178);
}

.logo{
    margin-left: 50px;
}

header{
    border-bottom: 2px solid black;
    margin: 10px 0px;
}
/* Services */
/* Mobile */
@media(max-width: 500px){
    .services{
        width:100%;
    }
}
.services{
    padding: 20px 0px;
}
h1{
    font-size: 2rem;
}
.services-header-img {
    margin: 20px 0px 0px;
}
/* Main Content */
/* Mobile */
@media(max-width: 500px){
    .content-parent{
        flex-direction: column;
        width:100%;
        flex-wrap:wrap;
    }
    .child1{
        flex-direction: column;
        width: 100%;
    }
}
.content-parent{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-between;
  border-bottom: 3px solid black;
  margin: 20px 0px;
}

.child1{
  border: 1px solid black;
  padding: 2.5%;
  width: 48%;
  height: 240px;
  text-align: justify;
  background-color: whitesmoke;
  margin-bottom: 5%;
}
/* Footer */
.bottom{
    display:flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.bottom-content{
    width: 45%;
}

ul {
    list-style-type: disc;
    padding: 20px;
  }
  
  li{
    padding: 10px;
  }
  
footer p{
    text-align:center;
    margin: 10%;
}

